@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-family: "Comme",sans-serif;
}

.custom_div{
  display: grid;
  width: 100%;
  max-width: 24rem;
  align-items: center;
  border-width: 1px;
  gap: 4px;
  opacity: 1;
  border-color: rgb(209, 213, 219);
  padding: 4px;
  border-radius: 6px;
  color: rgb(55, 65, 81);
}